.weather-container {
  border: 1px solid #000;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.city {
 font-size: 20px;
 font-weight: 150;
}

.temp {
font-size: 90px;
padding:10px;
border: 1px solid #000;
border-radius: 10px;
}

.weather {
  font-size: 30px;
  font-weight: 200;
}